<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-10 lg:grid-cols-8 gap-4">
    <div class="col-span-10 md:col-span-8 md:col-start-2 lg:col-span-4 lg:col-start-3">
      <h1 class="text-2xl font-bold mb-4">ログイン</h1>
      <p class="text-slate-500">こんにちは、おかえりなさい 👋</p>
      <%= form_with url: login_path, local: true, class: "mb-8" do |f| %>
        <div class="mb-4">
          <%= f.label :email, class: "block font-semibold mb-2" %>
          <%= f.text_field :email, class: 'w-full py-2 px-3 rounded border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50' %>
        </div>
        <div class="mb-4">
          <%= f.label :password, class: "block font-semibold mb-2" %>
          <%= f.password_field :password, class: 'w-full py-2 px-3 rounded border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50' %>
        </div>
        <div class="flex justify-center">
          <%= f.submit 'ログイン', class: 'py-2 px-4 bg-red-500 text-white font-semibold rounded hover:bg-red-600 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300' %>
        </div>
      <% end %>
      <div class='text-center mt-4'>
        <%= link_to '登録ページへ', "#", class: 'text-red-500 font-semibold hover:underline' %>
        <a href="#" class="ml-4 text-red-500 font-semibold hover:underline">パスワードをお忘れの方はこちら</a>
      </div>
    </div>
  </div>
</div>
