<div class="container mx-auto">
  <div class="py-6">
    <div class="bg-white shadow-md rounded-md max-w-md mx-auto p-8">
      <h1 class="text-2xl font-bold text-center mb-6">ログイン</h1>
      <p class="text-center text-gray-500">こんにちは、おかえりなさい 👋</p>
      <%= form_with url: login_path, local: true, class: "mt-8" do |f| %>
        <%= f.label :email, class: "block font-semibold mb-2" %>
        <%= f.email_field :email, class: 'form-input w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50', autocomplete: "email" %>
        <%= f.label :password, class: "block font-semibold mt-4 mb-2" %>
        <%= f.password_field :password, class: 'form-input w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50', autocomplete: "current-password" %>
        <div class="flex justify-center mt-6">
          <%= f.submit 'ログイン', class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
      <div class='text-center mt-4'>
        <%= link_to '登録ページへ', new_user_path, class: 'text-red-500 font-semibold hover:underline' %>
        <a href="#" class="ml-4 text-red-500 font-semibold hover:underline">パスワードをお忘れの方はこちら</a>
      </div>
    </div>
  </div>
</div>
